.terraform/
terraform.tfstate*
.terraform.tfstate*
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/provisioning.iml
/.idea/vcs.xml
